<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>LOGO</title>
</head>
    <body class="indexbd">
        <a href="/"><img src="images/parkinglogo.png" width="300" height="300"></a>
      <input type="checkbox" id="menuicon">
      <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
      </label> 
      <div class="sidebar">
          <div class="menubar">
          <br>
          <br>
          <br>
          <br>
          <span style="color:rgb(192, 135, 30)">→</span>
          <span><a href="/login">로그인</a></span>
          <br>
          <br>
          <h2><a href="/nearbyparkinglot">1. 내 주변 주차장</a></h2>
          <br>
          <h2><a href="/destination">2. 목적지 주변 주차장</a></h2>
          <br>
          <!--<h2><a href="/seoulcctv">3. 서울 단속 CCTV 위치</a></h2>-->
          <h2><a href="/ownpark">3. 나만의 주차장</a></h2>
          <br>
          <!--<h2><a href="/incheoncctv">4. 인천 단속 CCTV 위치</a></h2>-->
          <h2><a href="/favorite">4. 즐겨찾기</a></h2>
        </div>
      </div>
    </div>
</body>
</html>