<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
  <title>LOGO</title>
</head>
<body>
  <h1>LOGO</h1>
  
  <input type="checkbox" id="menuicon">
  <label for="menuicon">
    <span></span>
    <span></span>
    <span></span>
  </label> 
  <div class="sidebar">
      <div class="menubar">
      <br>
      <br>
      <br>
      <br>
      <span style="color:rgb(192, 135, 30)">→</span>
      <span><a href="/login">로그인</a></span>
      <br>
      <br>
      <h2><a href="#">1. 서울 주차장</a></h2>
      <br>
      <h2><a href="#">2. 인천 주차장</a></h2>
    </div>
  </div>

  
</body>
</html>