<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>LOGO</title>
</head>
    <body class="indexbd">
        <a href="/"><img src="images/parkinglogo.png" width="300" height="300"></a>
      <input type="checkbox" id="menuicon">
      <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
      </label> 
      <div class="sidebar">
          <div class="menubar">
          <br>
          <br>
          <br>
          <br>
          <span style="color:rgb(192, 135, 30)">→</span>
          <span><a href="/login">로그인</a></span>
          <br>
          <br>
          <h2><a href="/nearbyparkinglot">1. 내 주변 주차장</a></h2>
          <br>
          <h2><a href="/destination">2. 목적지 주변 주차장</a></h2>
          <br>
          <!--<h2><a href="/seoulcctv">3. 서울 단속 CCTV 위치</a></h2>-->
          <h2><a href="/ownpark">3. 나만의 주차장</a></h2>
          <br>
          <!--<h2><a href="/incheoncctv">4. 인천 단속 CCTV 위치</a></h2>-->
          <h2><a href="/favorite">4. 즐겨찾기</a></h2>
        </div>
      </div>
    </div>

    <!--<form method='post' action='/' name='userForm' target="targetURL">
    <select name="dong">
            
      <option>역삼동</option>
      <option>개포동</option>
      <option>청담동</option>
      <option>신사동</option>
      <option>논현동</option>
      <option>압구정동</option>
      <optione>세곡동</option>
      <option>자곡동</option>
      <option>율현동</option>
      <option>일원동</option>
      <option>수서동</option>
      <option>도곡동</option>


  </select>
      <input type="button" value="검색" onclick='document.targetURL.location.href="/search="+document.userForm.dong.value'>
    </form>-->

    <!--<form action="/searchseoul" method="post">
    <div class="box">
      <div class="container-4">
        <input type="search" id="search" placeholder="Search..." name="result"/>
        <button class="icon"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>-->

    <!--<iframe name=targetURL class="iframe-preview center" width="80%" height="500" style="border:none;">
    </iframe>-->

    <div class="searching">
    <section>
          <form action="/map/maptest2" method="get" target="targetURL">
            <div class="box">
            <div class="container-4">
              <input type="search" id="search" placeholder="Search..." name="dong"/>
              <button class="icon"><i class="fa fa-search"></i></button>
            </div>
          </div>
          </form>
          <!-- ifame 태그에서, src(경로) 지정해줄 때, 완벽한 경로 /map/map.html로 지정하면 get으로 처리받을 수 없다 -->
        </section>
    </div>
    
    <div class="mapzone">
    <iframe name=targetURL class="iframe-preview center" width="50%" height="500" style="border:none;" src="/map/maptest2" scrolling="no">
    </iframe>
  </div>
    <!--
    <div class="guzone">
    <select class="guselect">
      <option>강남구</option>
      <option>서초구</option>
      <option>송파구</option>
      <option>도봉구</option>
      <option>노원구</option>
      <option>강북구</option>
      <option>은평구</option>
      <option>성북구</option>
      <option>중랑구</option>
      <option>서대문구</option>
      <option>종로구</option>
      <option>동대문구</option>
      <option>중구</option>
      <option>마포구</option>
      <option>성동구</option>
      <option>광진구</option>
      <option>용산구</option>
      <option>강동구</option>
      <option>강서구</option>
      <option>양천구</option>
      <option>구로구</option>
      <option>영등포구</option>
      <option>동작구</option>
      <option>관악구</option>
    </select>
  </div>
  <div class="dongzone">
  <select class="dongselect">
    <option value="yeoksamdong">역삼동</option>
    <option value="gaepodong">개포동</option>
    <option value="cheongdamdong">청담동</option>
    <option value="sinsadong">신사동</option>
    <option value="nonhyeondong">논현동</option>
    <option value="apgujeongdong">압구정동</option>
    <optione value="segokdong">세곡동</option>
    <option value="jagokdong">자곡동</option>
    <option value="yulhyeondong">율현동</option>
    <option value="illwondong">일원동</option>
    <option value="susodong">수서동</option>
    <option value="dogokdong">도곡동</option>
</select>
</div>
-->
      <!--<div class="container">
        <button class="select" name="select" value="options">options</button>
        <div class="options">
            <p class="item active">option 1</p>
            <p class="item">option 2</p>
            <p class="item">option 3</p>
            <p class="item">option 4</p>
        </div>
    </div>-->
    <!-- <h1> 인천 전체 주차장 </h1>
    <form method='post' action='/' name='userForm' target="targetURL">
    <input type="button" value="인천 전체 주차장 보기"
     onclick="document.targetURL.location.href='/incheonparkinglot'">

     <br>
     <br>

     <h1>서울 전체 주차장</h1>
        <input type="button" value="서울 전체 주차장 보기"
         onclick="document.targetURL.location.href='/seoulparkinglot'">

     <br>
     <br>

`    <h1>서울 전체 주차장 검색</h1>
        <select name="dong">
            
            <option>역삼동</option>
            <option>개포동</option>
            <option>청담동</option>
            <option>신사동</option>
            <option>논현동</option>
            <option>압구정동</option>
            <optione>세곡동</option>
            <option>자곡동</option>
            <option>율현동</option>
            <option>일원동</option>
            <option>수서동</option>
            <option>도곡동</option>

   
        </select>
            <input type="button" value="검색" onclick='document.targetURL.location.href="/findseoul/dong?dong="+document.userForm.dong.value'>
     
     <br>
     <br>

     <h1>서울 불법주정차 단속 CCTV 위치</h1>
     <input type="button" value="서울 CCTV 위치 보기"
     onclick="document.targetURL.location.href='/seoulcctv'">

    <br>
    <br>

    <h1>인천 불법주정차 단속 CCTV 위치</h1>
    <input type="button" value="인천 CCTV 위치 보기"
    onclick="document.targetURL.location.href='/incheoncctv'">

</form>
    <iframe name=targetURL class="iframe-preview center" width="80%" height="500" style="border:none;">
    </iframe>
-->
</body>
</html>